@import url('http://fonts.cdnfonts.com/css/clash-display?styles=106289');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
a {
    text-decoration: none;
    back;
}
ul {
    list-style: none;
}


.ham_menu {
    display: none;
}
.active {
    color: rgb(180, 189, 143);
    font-weight: bold;

}
.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

}

.nav-links {
    display: flex;
    align-items: center;

} 

.nav-links li {
    padding: 0 30px;
}

.nav-links li:hover {
    color: rgb(25, 59, 112);
    background-color: bisque;
    }

header {
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 77, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}



/* Moble */
@media only screen and (max-width: 850px) {
    .navbar {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    /* ul {
        list-style: none;
    } */
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgba(100, 148, 237, 0.142);
    }
    .nav-links li {
        margin-top: 40px auto;
    }

    /* ham-btn  start*/
 
    .ham_menu {
        display: flex;
        top: 30px;
        right: 30px;
        position: absolute;
        height: 48px;   
    }
    .ham_menu #toggle {
        position: absolute;
        opacity: 0;;
        top: 0;
        right: 0;
        z-index: 91;
    }
    .ham_menu label {
        display: flex;
        width: 48px;
        height: 48px;
        cursor: pointer;   
    }
    .ham_menu label .ham_container {
        position: relative;
        top: 0;
        left: 14px;
        width: 30px;
        height: 30px;
      }
      .ham_menu label .ham_container span {
        position: relative;
        top: 0;
        display: block;
        height: 3px;
        border-radius: 1.5px;
        background-color: whitesmoke;
        transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s;
      }
      .ham_menu label .ham_container span:nth-child(2) {
        top: 10px;
      }
      .ham_menu #toggle:checked + label .ham_container span:nth-child(1) {
        top: 8px;
        transform: rotate(45deg);
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
      }
      .ham_menu #toggle:checked + label .ham_container span:nth-child(2) {
        top: 5px;
        transform: rotate(-45deg);
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
      }

      .ham_menu #toggle:hover + label .ham_container {
          transform: rotate(25deg);
          transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
      }

      .ham_menu #toggle:checked + label .ham_container {
          transform: rotate(90deg);
          transition: top 0.2s linear;
      }
      .ham_menu #toggle:checked + label .ham_container span::before, .ham_menu #toggle:checked + label .ham_container span {
          top:0;
        transform: rotate(90deg);
        transition: top 0.3s linear;
          }
    /* ham-btn  end*/

.ham_menu #toggle:checked + .ham_container +.nav_container {
    opacity: 1;
    width: 100vw;
    height: 100vh;
}


      .nav_container {
          position: fixed;
          top: 0;
          left: 0;
          opacity: 0;
          width: 0;
          height: 0;
          overflow: hidden;
          background-color: brown;
          z-index: 12;
          display: flex;
          justify-content: center;
          align-content: center;
    }
    
    .nav_container .nav-links li {
        font-size: 20px;
        text-align: center;
        box-sizing: 15px;
    }





    
    }

    
