body {
    margin: 0;
    background-color: #bbb;
}

a {
    color: black;
}

.header {
    background-color: aliceblue;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(247, 242, 235);
}

.header ul a {
    display: block;
    outline: 1px solid red;
    padding: 20px;
    border-right: 1px solid #aaa;
    text-decoration: none;
}
.header ul a:hover {
    background-color: rgba(170, 170, 170, 0.449);

}
.header .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: all 0.3s ease;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    transition: all .3s ease;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: all .3s ease;
}

.header .menu-icon .nav-icon::before {
    background: rgb(0, 0, 0);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .3s ease;
    top: 7px;
}

.header .menu-icon .nav-icon::after {
    background: rgb(0, 0, 0);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .3s ease;
    top: -7px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:hover ~ .menu-icon {
    transform: rotate(25deg);
    /* background: green; */
    border-radius: 50%;
}
.header .menu-btn:checked ~ .menu-icon {
    transform: rotate(45deg);
}

.header .menu-btn:checked:hover ~ .menu-icon {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before,
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    top: 0;
    transform: rotate(90deg);
}