@import url("http://fonts.cdnfonts.com/css/clash-display?styles=106289");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif, Helvetica, Arial;
  color: #111315;
  text-decoration: none;
}
* ul {
  list-style: none;
}

body {
  background-color: rgb(218, 218, 218);
}

.navbar {
  background-color: whitesmoke;
  position: fixed;
  padding-top: 5px;
  width: 100%;
  z-index: 3;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.navbar ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
.navbar ul a:hover {
  background-color: rgba(170, 170, 170, 0.449);
}
.navbar .logo-container {
  float: left;
  display: flex;
  font-size: 1.5em;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 60px;
}
.navbar .logo-container .logo-container a:nth-child(1) {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 40px;
}
.navbar .logo-container .logo {
  display: block;
  width: 50px;
}
.navbar .menu {
  clear: both;
  max-height: 0;
  transition: all 0.3s ease;
}
.navbar .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 20px;
  position: relative;
  transition: all 0.3s ease;
}
.navbar .menu-icon .nav-icon::before {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
  top: 7px;
}
.navbar .menu-icon .nav-icon::after {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
  top: -7px;
}
.navbar .menu-btn {
  display: none;
}
.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.navbar .menu-btn:hover ~ .menu-icon {
  transform: rotate(25deg);
  /* background: green; */
  border-radius: 50%;
}
.navbar .menu-btn:checked ~ .menu-icon {
  transform: rotate(45deg);
}
.navbar .menu-btn:checked:hover ~ .menu-icon {
  transform: rotate(-45deg);
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon::before,
.navbar .menu-btn:checked ~ .menu-icon .nav-icon::after {
  top: 0;
  transform: rotate(90deg);
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
header .header-content {
  margin-top: 20%;
  text-align: center;
}
header .header-content .h2 {
  font-size: 20px;
}
header .header-content .line {
  width: 30vmin;
  height: 4px;
  background-color: green;
  margin: 15px auto;
  border-radius: 5px;
}
header .header-content .h1 {
  font-size: 7vmin;
  margin-top: 30px;
  margin: 30px auto;
}
header .header-content .about {
  background: green;
  color: whitesmoke;
  padding: 8px 15px;
  border-radius: 30px;
  margin-top: 200px;
}

@media screen and (min-width: 768px) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  }

  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 5vw;
  }

  .navbar .menu-icon {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
