@import url("http://fonts.cdnfonts.com/css/clash-display?styles=106287");
@import url("http://fonts.cdnfonts.com/css/clash-display?styles=106285");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111315;
  text-decoration: none;
}
* h1, * h2, * h3, * h4, * h5, * span {
  font-family: "Clash Display", sans-serif, Helvetica, Arial;
}
* p {
  font-family: sans-serif, Arial, Helvetica;
}
* ul {
  list-style: none;
}

body {
  background-color: rgb(218, 218, 218);
  background-position: bottom;
}

section {
  width: 100%;
  margin: 100px auto;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.navbar {
  background-color: rgb(218, 218, 218);
  height: 73px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5px;
  width: 100%;
  z-index: 3;
}
.navbar ul {
  padding: 0;
  text-align: center;
  list-style: none;
  overflow: hidden;
}
.navbar ul a {
  display: block;
  padding: 6vh 0;
  text-decoration: none;
  font-family: "Clash Display";
  font-weight: 600;
  font-size: 6vmin;
  border-bottom: 1px solid green;
}
.navbar ul a:hover {
  background-color: green;
  color: whitesmoke;
}
.navbar .logo-container {
  float: left;
  display: flex;
  position: absolute;
  font-size: 1.5em;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 60px;
}
.navbar .logo-container .logo {
  display: flex;
  position: relative;
  height: 35px;
  margin-right: 15px;
}
.navbar .logo-container .name {
  display: flex;
  width: 60px;
  height: 15px;
}
.navbar .menu {
  clear: both;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.navbar .menu-icon {
  padding: 30px 30px;
  position: relative;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 3px;
  width: 27px;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
}
.navbar .menu-icon .nav-icon::before {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
  top: 8px;
}
.navbar .menu-icon .nav-icon::after {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  transition: all 0.3s ease;
  top: -8px;
}
.navbar .menu-btn {
  display: none;
}
.navbar .menu-btn:checked ~ .menu {
  height: 100vh;
  transform: scaleX(1);
  background-color: rgb(218, 218, 218);
}
.navbar .menu-btn:hover ~ .menu-icon {
  transform: rotate(25deg);
  /* background: green; */
  border-radius: 50%;
}
.navbar .menu-btn:checked ~ .menu-icon {
  transform: rotate(45deg);
}
.navbar .menu-btn:checked:hover ~ .menu-icon {
  transform: rotate(-45deg);
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon::before,
.navbar .menu-btn:checked ~ .menu-icon .nav-icon::after {
  top: 0;
  transform: rotate(90deg);
}

.line {
  width: 41vmin;
  height: 3px;
  background-color: green;
  margin: 10px auto;
  border-radius: 5px;
  margin-top: -7px;
  margin-bottom: 65px;
}

.title {
  text-align: center;
  position: relative;
  font-size: 7vmin;
}

.contact .contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .contact-form input,
.contact .contact-form textarea {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid green;
  outline: none;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact .contact-form .namezone,
.contact .contact-form .emailzone {
  max-width: calc(50% - 15px);
  background-color: transparent;
}
.contact .contact-form .subjectzone {
  background-color: transparent;
}
.contact .contact-form .message {
  min-height: 100px;
  resize: vertical;
  background-color: transparent;
}
.contact .contact-form .contact-btn {
  color: whitesmoke;
  background-color: green;
  font-size: 3vmin;
  letter-spacing: 2px;
  border: 1px solid green;
  border-radius: 30px;
  padding: 0;
  margin-top: 30px;
  cursor: pointer;
}

footer {
  bottom: 0;
  width: 100%;
  height: 170px;
  padding: 20px 0;
  background-color: #111315;
  text-align: center;
}
footer .contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .contact-info .item {
  height: 50px;
  padding: 10px 10px;
  border-radius: 40px;
  margin: 15px;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: whitesmoke;
}
footer .contact-info .item:hover {
  background-color: green;
}
footer .contact-info img {
  display: block;
  height: 30px;
}
footer .copyright {
  margin-top: 20px;
  color: rgb(218, 218, 218);
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}
footer .copyright a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(218, 218, 218);
  font-size: 10px;
}
footer .arrowup {
  position: fixed;
  z-index: 999;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  color: whitesmoke;
  outline: none;
  background-color: #111315;
  border: 3px solid green;
  border-radius: 25px;
  cursor: pointer;
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
header .header-content {
  margin-top: 20vh;
  text-align: center;
}
header .header-content h2 {
  font-size: 3.5vmin;
}
header .header-content .line {
  width: 30vmin;
  height: 4px;
  background-color: green;
  margin: 10px auto;
  border-radius: 5px;
}
header .header-content h1 {
  font-size: 6vmin;
  margin-top: 30px;
  margin-bottom: 40px;
}
header .header-content .about-buttom {
  background: #111315;
  color: whitesmoke;
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 2.5vmin;
  font-weight: 200;
}

.send-email {
  text-align: center;
  height: 220px;
  padding: 40px;
}
.send-email p {
  font-weight: 200;
  margin-bottom: 50px;
}
.send-email h1 {
  font-weight: 400;
}
.send-email .line {
  height: 1.7px;
  width: 45vmin;
  margin: -30px auto;
}
.send-email .contact-info {
  display: flex;
  justify-content: center;
}
.send-email .contact-info .item {
  height: 27px;
  width: 27px;
  padding: 15px 15px;
  border-radius: 20px;
  margin: 80px 20px;
  color: whitesmoke;
  background-color: #111315;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.send-email .contact-info img {
  display: block;
  height: 20px;
  align-items: center;
}

.footer-otherpages {
  height: 90px;
}

#blog {
  border-bottom: 1px solid #111315;
}
#blog .blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#blog .blog-heading span {
  font-family: "Clash Display";
  font-weight: 400;
}
#blog .blog-heading span h3 {
  font-size: 7vmin;
}
#blog .blog-container {
  margin: 20px 0px;
  flex-wrap: wrap;
}
#blog .blog-container .blog-box {
  width: 100%;
  background-color: whitesmoke;
}
#blog .blog-container .blog-box .blog-img {
  width: 100%;
  height: auto;
}
#blog .blog-container .blog-box .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#blog .blog-container .blog-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
#blog .blog-container .blog-text span {
  font-size: 1.3vmin;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #a5a5a5;
  margin-bottom: 7px;
}
#blog .blog-container .blog-text p {
  display: -webkit-box;
  font-size: 15px;
  color: #a5a5a5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 20px 0;
}
#blog .blog-container .blog-text .readmore {
  color: green;
  letter-spacing: 0.5px;
  font-size: 1.8vmin;
  text-decoration-line: underline;
  padding: 6px auto;
}
#blog .blog-container .blog-text .readmore:hover {
  color: #111315;
  transition: all 0.2s ease-in-out;
}
#blog .blog-container .blog-text,
#blog .blog-container .blog-title {
  color: #111315;
  font-weight: 400;
  font-family: "Clash Display";
  font-size: 1.3rem;
}
#blog .blog-container .blog-text,
#blog .blog-container .blog-title:hover {
  color: green;
  transition: all 0.3s ease-in-out;
}

.part1 .workimage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vmin;
  background-image: url(/images/poster1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.part1 .workintro {
  height: 58vh;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 95px 10vw;
  background-color: green;
}
.part1 .workintro h1 {
  font-size: 7vmin;
  margin-bottom: 20px;
  color: whitesmoke;
}
.part1 .workintro h2 {
  font-size: 3vmin;
  margin-bottom: 50px;
  color: rgb(218, 218, 218);
}
.part1 .workintro p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 65px;
  color: rgb(218, 218, 218);
}
.part1 .workintro .buttom {
  color: #111315;
  background: whitesmoke;
  padding: 9px 22px;
  border-radius: 30px;
  font-size: 13px;
  font-family: Verdana, sans-serif, Arial;
  letter-spacing: 2px;
}
.part1 .workintro .buttom:hover {
  color: green;
  background: rgb(218, 218, 218);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .part1 .workintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    align-items: center;
    width: 100vw;
    padding: 130px;
    margin: 0;
  }
  .part1 .workintro h1 {
    font-size: 7vmin;
  }
  .part1 .workintro p {
    max-width: 1200px;
  }

  .buttom:hover {
    color: #111315;
    background: rgb(218, 218, 218);
    transform: translateY(2);
  }

  .navbar {
    bottom: 0;
    border-bottom: 1.5px solid green;
  }
  .navbar .menu {
    clear: none;
    float: right;
    transform: none;
    height: 60px;
    margin-right: 3vw;
    padding: 8px;
  }
  .navbar .menu ul {
    height: 0;
    text-align: center;
  }
  .navbar .menu li {
    float: left;
    display: block;
    align-items: center;
    width: 120px;
  }
  .navbar .menu li :nth-child(1) {
    padding-top: 15px;
  }
  .navbar .menu li a {
    border-bottom: none;
    font-size: 20px;
    border-radius: 35px;
    transition: all 0.2s ease;
  }
  .navbar .menu-icon {
    display: none;
  }

  #blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }
  #blog .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
  }
  #blog .blog-container .item-empty {
    visibility: hidden;
  }
  #blog .blog-container .blog-box {
    width: 380px;
    margin: 20px;
  }
  #blog .blog-container .blog-box:hover {
    transform: scale(1.04);
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .contact .inner-width {
    max-width: 800px;
  }
  .contact .title {
    margin-top: 150px;
  }
  .contact .line {
    height: 5px;
    margin-top: -17px;
    margin-bottom: 10vh;
  }
  .contact .contact-form {
    margin-top: 60px;
  }
  .contact .contact-form .contact-btn {
    width: 180px;
    color: whitesmoke;
    background-color: green;
    font-size: 16px;
    letter-spacing: 4px;
    border-radius: 50px;
    padding: 80px auto;
    margin: 40px auto;
    margin-left: calc(50% - 100px);
    cursor: pointer;
    transition: 0.2 ease-in-out;
  }
  .contact .contact-form .contact-btn:hover {
    background-color: #111315;
  }

  footer .arrowup {
    position: fixed;
    z-index: 999;
    bottom: 8vh;
    right: 4vw;
    width: 60px;
    height: 60px;
    line-height: 55px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    outline: none;
    background-color: #111315;
    border: 3px solid green;
    border-radius: 10px;
    cursor: pointer;
  }
  footer .arrowup:hover {
    background-color: green;
    color: whitesmoke;
    font-weight: 600;
  }

  .send-email {
    text-align: center;
    height: 390px;
    padding: 40px;
  }
  .send-email p {
    margin-bottom: 90px;
  }
  .send-email .line {
    margin: -37px auto;
    margin-bottom: 20px;
  }
  .send-email .contact-info {
    display: flex;
    justify-content: center;
  }
  .send-email .contact-info .item {
    height: 27px;
    width: 27px;
    padding: 15px 15px;
    border-radius: 20px;
    margin: 80px 20px;
    color: whitesmoke;
    background-color: #111315;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .send-email .contact-info .item:hover {
    background-color: green;
  }
}
@media screen and (max-width: 1300px) {
  .blog-box {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
