$primary1:whitesmoke;
$primary2:#111315;
$primary3:rgb(218, 218, 218);
$primary4:green;
$primary5:#a5a5a5;

$title:7vmin;
$fontsize:3vmin;
$normal:15px;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-title:'Clash Display';



// @media screen and (min-width:1200px){
//     .container {
//         width: 970px;
//     }
// }≠
// @media screen and (min-width:1200px){
//     .container {
//         width: 1170px;
//     }


@import url('http://fonts.cdnfonts.com/css/clash-display?styles=106287');
@import url('http://fonts.cdnfonts.com/css/clash-display?styles=106285');

@mixin buttom {
    background: $primary2;
            color: $primary1;
            padding: 8px 15px;
            border-radius: 30px;
            font-size: 2.5vmin;
            font-family: Verdana, sans-serif, Arial;
            letter-spacing: 2px;
}
@mixin buttom-m {
            color: $primary2;
            background: $primary1;
            padding: 9px 22px;
            border-radius: 30px;
            font-size: 13px;
            font-family: Verdana, sans-serif, Arial;
            letter-spacing: 2px;           
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    h1, h2, h3, h4, h5, span {
        font-family: 'Clash Display', sans-serif,Helvetica, Arial;
    }
    p {
        font-family: sans-serif, Arial, Helvetica;
    }
    color: $primary2;
    text-decoration: none;
    ul {
        list-style: none;
    }
}



body {
    background-color: $primary3;
    background-position: bottom;


    
}
// html {
//     overflow: hidden;
// }
section {
    width: 100%;
    margin: 100px auto;
}
.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}
.navbar {
    background-color: $primary3;
    height: 73px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    width: 100%;
    z-index: 3;

    ul {
       
        padding: 0;
        // height: 100vh;
        text-align: center;
        list-style: none;
        overflow: hidden;


        a {
            display: block;
            padding: 6vh 0;
            text-decoration: none;
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 6vmin;
            border-bottom: 1px solid $primary4;
            
        }
        a:hover {
            background-color: $primary4;
            color: $primary1;
        }
    }
    .logo-container {
        float: left;
        display: flex;
        position: absolute;
        font-size: 1.5em;
        padding: 10px 30px;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 60px;

    .logo {
        display: flex;
        position: relative;
        height: 35px;
        margin-right: 15px;
    }
    .name {
        display: flex;
        width: 60px;
        height: 15px;
    }

   
    
    }

    .menu {
        clear: both;
        // max-height: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.3s ease;
    }
    .menu-icon {
        padding: 30px 30px;
        position: relative;
        float: right;
        cursor: pointer;
        transition: all .3s ease;
        
    }

    .menu-icon .nav-icon {
        background: #333;
        display: block;
        height: 3px;
        width: 27px;
        border-radius: 2px;
        position: relative;
        transition: all .3s ease;
    }
    .menu-icon .nav-icon::before {
        background: rgb(0, 0, 0);
        content: '';
        display: block;
        height: 100%;
        border-radius: 2px;
        width: 100%;
        position: absolute;
        transition: all .3s ease;
        top: 8px;
    }
    .menu-icon .nav-icon::after {
        background: rgb(0, 0, 0);
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        transition: all .3s ease;
        top: -8px;
    }
    .menu-btn {
        display: none;
    }
    .menu-btn:checked ~ .menu {
        height: 100vh;
        transform: scaleX(1);
        background-color: $primary3;
    }
    .menu-btn:hover ~ .menu-icon {
        transform: rotate(25deg);
        /* background: green; */
        border-radius: 50%;
    }
    .menu-btn:checked ~ .menu-icon {
        transform: rotate(45deg);
    }
    
    .menu-btn:checked:hover ~ .menu-icon {
        transform: rotate(-45deg);
    }
    
    .menu-btn:checked ~ .menu-icon .nav-icon::before,
    .menu-btn:checked ~ .menu-icon .nav-icon::after {
        top: 0;
        transform: rotate(90deg);
    }
}

.line {
    width: 41vmin;
            height: 3px;
            background-color: $primary4;
            margin: 10px auto;
            border-radius: 5px;
            margin-top: -7px;
            margin-bottom: 65px;
}

.title {
    text-align: center;
    position: relative;
    font-size: $title;

    
}

// form - get in touch
.contact {
    .contact-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        input, 
        textarea {
            width: 100%;
            height: 45px;
            margin: 10px 0;
            border: none;
            border-bottom: 1px solid $primary4;
            outline: none;
            padding: 15px;
            font-family: $font-family;
        }

        .namezone,
        .emailzone {
        max-width: calc(50% - 15px);
        background-color: transparent;
        }
        .subjectzone {
            background-color: transparent;
        }
        .message {
            min-height: 100px;
            resize: vertical;
            background-color: transparent;
        }
        
        .contact-btn {
            color: $primary1;
            background-color: $primary4;
            font-size: $fontsize;
            letter-spacing: 2px;
            border: 1px solid $primary4;
            border-radius: 30px;
            padding: 0;
            margin-top: 30px;
            cursor: pointer;
        }
        


    }
    
}
// form - get in touch - end


//----------------------------footer-------------
footer {
    bottom: 0;
    width: 100%;
    height: 170px;
    padding: 20px 0;
    background-color: $primary2;
    text-align: center;

    .contact-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    
        .item {
            height: 50px;
            padding: 10px 10px;
            border-radius: 40px;
            margin: 15px;
            text-align: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            transition: .3s ease-in-out;  
            color: $primary1;
        }
    
        .item:hover {
            background-color: $primary4;
        }
        img {
            display: block;
            height: 30px;
        }
    
    }
    .copyright {
        margin-top: 20px;
        color: $primary3;
        letter-spacing: 2px;
        font-family: $font-family;
        font-size: 10px;

         a {
             font-family: $font-family;
             color: $primary3;
             font-size: 10px
             
   

         }
    }
// back to top buttom
    .arrowup {
        position: fixed;
        z-index: 999;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        line-height: 45px;
        font-size: 13px;
        font-family: $font-family;
        letter-spacing: 2px;
        color: $primary1;
        outline: none;
        background-color: $primary2;
        border: 3px solid $primary4;
        border-radius: 25px;
        cursor: pointer;
    }
}
//footer end
// homepage
header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    .header-content {
        margin-top: 20vh;
        text-align: center;

        h2 {
            font-size: 3.5vmin;
        }
        .line {
            width: 30vmin;
            height: 4px;
            background-color: $primary4;
            margin: 10px auto;
            border-radius: 5px;
        }
        h1 {
            font-size: 6vmin;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        .about-buttom {
            background: $primary2;
            color: $primary1;
            padding: 8px 15px;
            border-radius: 30px;
            font-size: 2.5vmin;
            font-weight: 200;

    
        
        }


    }
}

//----------------------------about-------------


.send-email {
    text-align: center;
    height: 220px;
    padding: 40px;
    p {
        font-weight: 200;
        margin-bottom: 50px;
    }
    h1 {
        font-weight: 400;
    }
    .line {
        height: 1.7px;
        width: 45vmin;
        margin: -30px auto;
    }

// 3 social icons
    .contact-info {
        display: flex;
        justify-content: center;
    
        .item {
            height: 27px;
            width: 27px;
            padding: 15px 15px;
            border-radius: 20px;
            margin: 80px 20px;
            color: $primary1;
            background-color: $primary2;
            display: flex;
            justify-content: center;
            align-items: center; 
            cursor: pointer;
            transition: .3s ease-in-out;     
        }
    
        img {
            display: block;
            height: 20px;
            align-items: center;
        }
    
    }

}
// about footer
.footer-otherpages{
    height: 90px;
}
// about end

//----------------------------blog-------------
#blog {
    
    border-bottom: 1px solid $primary2;

    .blog-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            font-family: $font-family-title;
            font-weight: 400;
            h3 {
                font-size: $title;
            }
        }
    }

    .blog-container {  
        margin: 20px 0px;
        flex-wrap: wrap;

        .blog-box {
            width: 100%;
            background-color: $primary1;  

            .blog-img {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;

                }
            }
        }

        .blog-text {
            display: flex;
            flex-direction: column;
            padding: 30px;

            span {
                font-size: 1.3vmin;
                font-family: $font-family;
                color: $primary5;
                margin-bottom: 7px;
            }

            p {
                display: -webkit-box;
                font-size: $normal;
                color: $primary5;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin: 20px 0;
            }

            .readmore {
                color: $primary4;
                letter-spacing: .5px;
                font-size: 1.8vmin;
                text-decoration-line: underline;
                padding: 6px auto;
            }

            .readmore:hover {
                color: $primary2;
                transition: all .2s ease-in-out;
            }
        }

        .blog-text,
        .blog-title {
            color: $primary2;
            font-weight: 400;
            font-family: $font-family-title;
            font-size: 1.3rem;
        }
        .blog-text,
        .blog-title:hover {
            color: $primary4;
            transition: all .3s ease-in-out;
        }




        
    }


}





//----------------------------work-------------



.part1 {
    .workimage {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vmin;
        background-image: url(/images/poster1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .workintro {
        // .clear {
        //     clear: both;
        // }
        
        height: 58vh;
        flex-direction: column;
        align-content: center;
        text-align: center;
        padding: 95px 10vw;
        background-color: $primary4;
        

        h1 {
            font-size: $title;
            margin-bottom: 20px;
            color: $primary1;

        }
        h2 {
            font-size: $fontsize;
            margin-bottom: 50px;
            color: $primary3;
        }
        p {
            font-size: $normal;
            line-height: 25px;
            margin-bottom: 65px;
            color: $primary3;
        }
        .buttom {
            @include buttom-m();            
        }
        .buttom:hover {
            color: $primary4;
            background: $primary3;
            font-weight: 500;
        }

    }

}





// ham_navbar
@media screen and (min-width: 768px) {
    

    .part1 {
       
    
        .workintro {
            display: flex;
            flex-direction: column;
            justify-content: center;


            height:700px;
            align-items: center;
            width: 100vw;
            padding: 130px;
            margin: 0;

            h1 {
                font-size: $title;
            }
            p{
                max-width: 1200px;
         
            }
        }

    }
    .buttom:hover {
        color: $primary2;
            background: $primary3;
            transform: translateY(2);
    }


// homepage
.navbar {
    bottom: 0;
    border-bottom: 1.5px solid $primary4;

    .menu {
        clear: none;
        float: right;
        
        transform: none;
        height: 60px;
        margin-right: 3vw;
        padding: 8px;
        

        ul {
            height: 0;
            text-align: center;
            
        }

        li {
            float: left;
            display: block;
            align-items: center;
            width: 120px;
            
            
            
            :nth-child(1) {
                padding-top: 15px;
            }
    
            a {           
                border-bottom: none;
                font-size: 20px;
                border-radius: 35px; 
                transition: all .2s ease;
                
            }
        }  
    }
    .menu-icon {
        display: none;
    }
}

// ----------------------blog---------------------------
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

    .blog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        flex-wrap: wrap;

        .item-empty {
            visibility: hidden;
        }

        .blog-box {
            width: 380px;
            margin: 20px;
        }  

        .blog-box:hover {
            transform: scale(1.04);
            box-shadow: 1px 5px 15px rgba(0,0,0,0.2);
        }
        
    }
}

.contact {

    .inner-width {
        max-width: 800px;
    }
    .title {
        margin-top: 150px;
    }
    .line {
                height: 5px;

                margin-top: -17px;
                margin-bottom: 10vh;
    }
    .contact-form {
       margin-top: 60px;
        .contact-btn {
            width: 180px;
            color: $primary1;
            background-color: $primary4;
            font-size: 16px;
            letter-spacing: 4px;
            border-radius: 50px;
            padding: 80px auto;
            margin: 40px auto;
            margin-left: calc(50% - 100px);
            cursor: pointer;
            transition: .2 ease-in-out;
        }
    
    
        .contact-btn:hover {
            background-color: $primary2;
        }
    }
    
}

footer {
    .arrowup {
        position: fixed;
        z-index: 999;
        bottom: 8vh;
        right: 4vw;
        width: 60px;
        height: 60px;
        line-height: 55px;
        font-family: $font-family;
        letter-spacing: 2px;
        color: $primary1;
        outline: none;
        background-color: $primary2;
        border: 3px solid $primary4;
        border-radius: 10px;
        cursor: pointer;
    }
    .arrowup:hover {
        background-color: $primary4;
        color: $primary1;
        font-weight: 600;
    }
}
// homepage end


// about (send an email)
.send-email {
    text-align: center;
    height: 390px;
    padding: 40px;
    p {
        margin-bottom: 90px;
    }
    .line {
        margin: -37px auto;
        margin-bottom: 20px;
    }

// 3 social icons
    .contact-info {
        display: flex;
        justify-content: center;
    
        .item {
            height: 27px;
            width: 27px;
            padding: 15px 15px;
            border-radius: 20px;
            margin: 80px 20px;
            color: $primary1;
            background-color: $primary2;
            display: flex;
            justify-content: center;
            align-items: center; 
            cursor: pointer;
            transition: .3s ease-in-out;     
        }
    
        .item:hover {
            background-color: $primary4;
        }
    
    
    }

}

}

@media screen and (max-width: 1300px) {
    .blog-box {
        width: 300px;
    }

}

