@media screen and (min-width:375px){
    // .container {
    //     width: 365px;
    // }
}

// @media screen and (min-width:768px){
//     // .container {
//     //     width: 750px;
//     // }
// }
// @media screen and (min-width:992px){
//     .container {
//         width: 970px;
//     }
// }
// @media screen and (min-width:1200px){
//     .container {
//         width: 1170px;
//     }


@import url('http://fonts.cdnfonts.com/css/clash-display?styles=106289');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Clash Display', sans-serif,Helvetica, Arial;
    width: 100vw;


   
    font-size: 14px;
    background-color: #141617;
    color: #e6dfdf;
    line-height: 1.3;
}


header {

.ham_menu {
    width: 100vm;
    height: 48px;
    background-color: rgba(205, 205, 191, 0.083);
}
.ham_menu #toggle {
    display: none;
}
.ham_menu label {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.ham_menu label .ham_container {
    position: relative;
    top: 17px;
    left: 14px;
    width: 25px;
    height: 20px;

    span {
        // folder
        position: relative;
        top: 0;
        display: block;
        height: 3px;
        border-radius: 1.5px;
        background-color: #fbfafa;
        transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s;
        }
    }
            // line2
.ham_menu label .ham_container span:nth-child(2) {
    top: 10px;
}

// click 1st
.ham_menu #toggle:checked + label .ham_container span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
    transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
}   
.ham_menu #toggle:checked + label .ham_container span:nth-child(2) {
    top: 5px;
    transform: rotate(-45deg);
    transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
}   

    .ham_menu ul {
        width: 100vm;
        height: calc(100vh - 48px);
        padding: 0 50px;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out;
        transform-origin: 0 50%;
        background-color: #1d1d1d;
        opacity: 0;
    }
    .ham_menu ul li {
        list-style: none;
        height: 50px;
        line-height: 50px;
        color: #ccc6c6;
        font-size: 18px;
        }
    
    // underline
    .ham_menu ul li:nth-child(-n+3) { 
            border-bottom: 1px solid rgb(255, 212, 41);
    }
    .ham_menu #toggle:checked~ul {
        transform: scale(1);
        opacity: 1;
    }

    .ham_menu #toggle:checked+label .ham_container span:nth-child(2) {
        top: 5px;
        transform: rotate(-45deg);
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
    }






    // .nav {
    //     display: flex;
     //     width: 100%;
    //     height: 13vw;
    //     background-color: rgba(255, 217, 167, 0.387);
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 0 3vw 0 3vw;

    // }



}

    

